.call-to-action {
  ul {
    margin-left: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    list-style: none;
  }

  li {
    display: table-cell;
    width: 2%;
  }

  a {
    @include button($padding: $button-med, $full-width: true);
  }
}
