// Here we declare the overlay colour for the navigation (when
// it's presented as a full screen modal on mobile devices).
$nav-overlay-color: $oil !default;

$nav-item-margin-bottom: $paragraph-margin-bottom !default;
$nav-font-size: $h4-font-size - $h4-font-reduction !default;
$nav-link-color: $white !default;

// The main navigation overlays the website (but is only visible when triggered
// open), where the unordered list is front and centre. Nice transitions are
// added when the navigation is opened and closed too, so perrrrrty.
nav[role="navigation"] {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  background-color: $nav-overlay-color;
  transition: all 250ms ease-in-out;

  // Make sure the undordered list is sitting front and centre (literally)
  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    list-style: none;
  }

  // Offset each list item so they may be animated to be
  // lined up when the main navigation menu is opened.
  li {
    transition: all 250ms ease-in-out 375ms;
    opacity: 0;
    margin-bottom: $nav-item-margin-bottom;
    font-size: $nav-font-size;
    text-align: center;

    &:nth-child(odd) {
      transform: translateX(30%);
    }

    &:nth-child(even) {
      transform: translateX(-30%);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $nav-link-color;
  }

  // When the navigation is opened, alter properties on the navigation
  // menu and associated list items. Animations are declared so these
  // property changes occur in a aesthetically pleasing way.
  &.opened {
    visibility: visible;
    opacity: 1;

    li {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
